body {
  background: linear-gradient(
      rgba(204, 204, 204, 0.35),
      rgba(204, 204, 204, 0.35)
    ),
    url("../src/img/plage_sable_orange_mer_turquoise_background_mobile.jpg")
      fixed;
}

/*******************/
/* Header + Logo */
/****************/
.wrapper {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  text-align: center;
  color: #333;
  transform: translateY(0);
  transition: transform 0.3s ease;
  flex-direction: row;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}

.logo {
  width: 10%;
  padding-bottom: 10px;
}

/***************************/
/*Title + title other pager*/
/**************************/

.titleOtherPage {
  text-align: center;
  color: #000000;

  font-family: "Pacifico", cursive;
}
.titleOtherPage span {
  color: #e49556;
}
.h1OtherPage {
  color: #000000;
}
.h3OtherPage {
  color: #171f1d;
  margin-top: -20px;
  padding-bottom: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

/*******************/
/* Page d'accueil */
/*****************/
.sloggan {
  text-align: center;
  margin-top: 8%;
  color: #000000;
  font-size: 20px;
  font-family: "Arial Rounded MT Bold";
}

.title {
  text-align: center;
  margin-top: 8%;

  color: #000000;
  font-size: 50px;
  font-family: "Pacifico", cursive;
}
.title span {
  color: #e49556;
}
.h2voyage {
  color: #000000;
}

.SubTitle {
  margin-top: -2%;
  text-align: center;
  font-size: 20px;
  color: #171f1d;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
/***************/
/* Page voyage */
/**************/
.section {
  height: 100%;
  min-height: 2000px;
  background-color: rgb(245, 245, 245);
  padding-top: 131px;
  margin: 0 auto;
  padding: 130px 48px 24px;
}

.content {
  background-color: #d8d8d8aa;
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 1px;
  text-align: center;
}

.main {
  display: flex;
  padding: 16px;
  padding-top: 0;
}

.main-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 800px;
  margin: 16px;
  color: #8b8b8b;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.main-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #8b8b8b;
}
.cards input {
  padding: 3%;
  margin: 10%;
}
.cards textarea {
  padding: 20%;
  margin: 10%;
}
.cards button {
  width: 30%;
  font-size: 20px;
  color: #171f1d;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.card-box {
  display: flex;
  flex: 1 1;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  align-items: center;
  margin: 16px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.right-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  color: #8b8b8b;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.right-box:first-child {
  margin-top: 0;
}

.right-box:last-child {
  margin-bottom: 0;
}
/***********/
/*Page CGU*/
/*********/
.sectionCgu {
  margin-top: 5%;
  background-color: #dcd9d97e;
  padding: 5%;
}
.containerCgu {
  height: 100%;

  background: linear-gradient(
      rgba(204, 204, 204, 0.35),
      rgba(204, 204, 204, 0.35)
    ),
    url("../src/img/plage_sable_orange_mer_turquoise_background_mobile.jpg")
      fixed;
  padding-top: 131px;
  margin: 0 auto;
  padding: 130px 48px 24px;
}
.conteneurCguH1 h2 {
  text-align: center;
}
.conteneurCguH1 h1 {
  text-align: center;
  margin-top: 5%;
  font-family: "Arial Rounded MT Bold";
}
